VITE_CONTRACT_ADDRESS=0x45d027236c164c4740474cCE553aFd8d73E2b41b
VITE_PINATA_API_KEY=
VITE_PINATA_API_SECRET=
VITE_PINATA_JWT=
VITE_AVALANCHE_RPC=https://api.avax-test.network/ext/bc/C/rpc
VITE_CHAIN_ID=43113
VITE_CHAIN_NAME=Avalanche Fuji Testnet
VITE_IPFS_GATEWAY=https://gateway.pinata.cloud/ipfs/
VITE_CONTRACT_DEPLOY_BLOCK=52127503
VITE_TX_WAIT_TIMEOUT_MS=180000
VITE_TELEMETRY_WEBHOOK=

